* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* CSS Thẻ Header ----------------------------*/
.topnav {
    width: 100%;
    height: 72px;
    overflow: hidden;
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;
    position: fixed;
    top: 0px;
}

.topnav a {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(53, 56, 64);
    ;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 9%;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .search-container {
    float: center;
    width: 35%;
    display: flex;
    align-items: center;
}

.topnav input[type=text] {
    padding: 6px;
    font-size: 17px;
    width: 400px;
    height: 40px;
    border: 1.5px solid gray;
    border-radius: 10px;
}

.img_lgopensea {
    width: 50px;
    height: 50px;
    margin: 10px;

}

/* CSS Body - Container-------------------------------*/
.container {
    width: 100%;
    background-color: white;
    display: flex;
    padding: 110px 50px;
    justify-content: center;
}

.box1 {
    background-color: whitesmoke;
    width: 50%;
    border: 1.5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 3px;
    margin: 40px 30px;
    width: 50%;
    height: 500px;
    padding: 30px 45px;
}

.text1 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(32, 129, 226);
}

.but1 {
    margin: 30px 0;
}

.but2 {
    margin-top: 20px;
}

.box2 {
    background-color: whitesmoke;
    width: 50%;
    border: 1px dashed grey;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 3px;
    margin: 40px 30px;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(32, 129, 226);
}